.dark .prose {
  --gray-50: 220 220 220;
  --gray-200: 220 220 220;
  --gray-400: 220 220 220;
  --tw-prose-invert-body: #DCDCDC;
  --tw-prose-invert-headings: #DCDCDC;
  --tw-prose-invert-lead: #DCDCDC;
  --tw-prose-invert-bold: #DCDCDC;
  --tw-prose-invert-quotes: #DCDCDC;
  --tw-prose-invert-code: #DCDCDC;
  --tw-prose-invert-kbd: #DCDCDC;
}

.prose :where(a) {
  font-weight: inherit;
  color: inherit !important;
  border-bottom: none;
  text-decoration: underline;
}
