.dark .prose {
  color: #DCDCDC !important;
  --gray-50: 220 220 220;
  --gray-200: 220 220 220;
  --gray-400: 220 220 220;
}

.prose :where(a) {
  font-weight: inherit;
  color: inherit !important;
  border-bottom: none;
  text-decoration: underline;
}
