{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAlex API",
    "description": "The OpenAlex API provides access to a comprehensive catalog of scholarly works, authors, sources, institutions, topics, keywords, publishers, and funders. OpenAlex indexes over 250 million scholarly works.",
    "version": "1.0.0",
    "contact": {
      "name": "OpenAlex Support",
      "email": "support@openalex.org",
      "url": "https://openalex.org"
    },
    "license": {
      "name": "CC0",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/"
    }
  },
  "servers": [
    {
      "url": "https://api.openalex.org",
      "description": "OpenAlex Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Works",
      "description": "Scholarly documents like journal articles, books, datasets, and theses"
    },
    {
      "name": "Authors",
      "description": "People who create scholarly works"
    },
    {
      "name": "Sources",
      "description": "Journals, repositories, and other venues where works are hosted"
    },
    {
      "name": "Institutions",
      "description": "Universities, research organizations, and other affiliations"
    },
    {
      "name": "Topics",
      "description": "Research topics automatically assigned to works"
    },
    {
      "name": "Keywords",
      "description": "Short phrases identified from works' topics"
    },
    {
      "name": "Publishers",
      "description": "Companies and organizations that publish scholarly works"
    },
    {
      "name": "Funders",
      "description": "Organizations that fund research"
    },
    {
      "name": "Autocomplete",
      "description": "Fast typeahead search for any entity type"
    },
    {
      "name": "Domains",
      "description": "Top-level categories in the topic hierarchy (4 total)"
    },
    {
      "name": "Fields",
      "description": "Second-level categories in the topic hierarchy (26 total)"
    },
    {
      "name": "Subfields",
      "description": "Third-level categories in the topic hierarchy (254 total)"
    },
    {
      "name": "SDGs",
      "description": "UN Sustainable Development Goals (17 total)"
    },
    {
      "name": "Countries",
      "description": "Geographic countries for filtering research by location"
    },
    {
      "name": "Continents",
      "description": "Geographic continents (7 total)"
    },
    {
      "name": "Languages",
      "description": "Languages of scholarly works"
    },
    {
      "name": "Awards",
      "description": "Research grants and funding awards"
    },
    {
      "name": "Concepts",
      "description": "Legacy taxonomy of research areas (deprecated - use Topics instead)"
    },
    {
      "name": "Work Types",
      "description": "Types of scholarly works (article, book, dataset, etc.)"
    },
    {
      "name": "Source Types",
      "description": "Types of sources (journal, repository, conference, etc.)"
    },
    {
      "name": "Institution Types",
      "description": "Types of institutions (education, healthcare, company, etc.)"
    },
    {
      "name": "Licenses",
      "description": "Open access licenses (CC BY, CC BY-SA, etc.)"
    }
  ],
  "paths": {
    "/works": {
      "get": {
        "operationId": "listWorks",
        "summary": "List works",
        "description": "Get a list of scholarly works with optional filtering, searching, sorting, and pagination. Works include journal articles, books, datasets, theses, and more.",
        "tags": [
          "Works"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter works. Examples: `publication_year:2023`, `type:article`, `open_access.is_oa:true`, `author.id:A5023888391`, `institutions.id:I27837315`, `cited_by_count:>100` See [all Work fields](/api-reference/works#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `cited_by_count`, `publication_date`, `relevance_score` (with search). Prefix with `-` for descending. See [all Work fields](/api-reference/works#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `publication_year`, `type`, `open_access.is_oa`, `authorships.institutions.country_code` See [all Work fields](/api-reference/works#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorksListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/works/{id}": {
      "get": {
        "operationId": "getWork",
        "summary": "Get a single work",
        "description": "Retrieve a single work by its OpenAlex ID or external ID (DOI, PMID, PMCID, MAG ID). External IDs can be passed as full URLs or URN format (e.g., `doi:10.1234/example` or `pmid:12345678`).",
        "tags": [
          "Works"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., W2741809807) or external ID (DOI, PMID, PMCID, MAG)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "openalex": {
                "value": "W2741809807",
                "summary": "OpenAlex ID"
              },
              "doi": {
                "value": "https://doi.org/10.7717/peerj.4375",
                "summary": "DOI URL"
              },
              "pmid": {
                "value": "pmid:29456894",
                "summary": "PubMed ID (URN format)"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Work"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/authors": {
      "get": {
        "operationId": "listAuthors",
        "summary": "List authors",
        "description": "Get a list of authors with optional filtering, searching, sorting, and pagination.",
        "tags": [
          "Authors"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter authors. Examples: `has_orcid:true`, `last_known_institutions.id:I27837315`, `works_count:>100`, `affiliations.institution.country_code:US` See [all Author fields](/api-reference/authors#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`, `summary_stats.h_index`, `summary_stats.i10_index`. Prefix with `-` for descending. See [all Author fields](/api-reference/authors#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `last_known_institutions.country_code`, `last_known_institutions.type`, `has_orcid` See [all Author fields](/api-reference/authors#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/authors/{id}": {
      "get": {
        "operationId": "getAuthor",
        "summary": "Get a single author",
        "description": "Retrieve a single author by OpenAlex ID or ORCID.",
        "tags": [
          "Authors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., A5023888391) or ORCID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "openalex": {
                "value": "A5023888391",
                "summary": "OpenAlex ID"
              },
              "orcid": {
                "value": "https://orcid.org/0000-0001-6187-6610",
                "summary": "ORCID URL"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Author"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/sources": {
      "get": {
        "operationId": "listSources",
        "summary": "List sources",
        "description": "Get a list of sources (journals, repositories, conferences) with optional filtering, searching, sorting, and pagination.",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter sources. Examples: `is_oa:true`, `is_in_doaj:true`, `type:journal`, `country_code:US`, `host_organization:P4310320595` See [all Source fields](/api-reference/sources#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`, `summary_stats.h_index`. Prefix with `-` for descending. See [all Source fields](/api-reference/sources#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `type`, `country_code`, `is_oa`, `is_in_doaj` See [all Source fields](/api-reference/sources#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourcesListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/sources/{id}": {
      "get": {
        "operationId": "getSource",
        "summary": "Get a single source",
        "description": "Retrieve a single source by OpenAlex ID or ISSN.",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., S1983995261) or ISSN",
            "schema": {
              "type": "string"
            },
            "examples": {
              "openalex": {
                "value": "S1983995261",
                "summary": "OpenAlex ID"
              },
              "issn": {
                "value": "issn:2167-8359",
                "summary": "ISSN (URN format)"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/institutions": {
      "get": {
        "operationId": "listInstitutions",
        "summary": "List institutions",
        "description": "Get a list of institutions with optional filtering, searching, sorting, and pagination.",
        "tags": [
          "Institutions"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter institutions. Examples: `country_code:US`, `type:education`, `is_global_south:true`, `continent:Q46`, `has_ror:true` See [all Institution fields](/api-reference/institutions#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`, `summary_stats.h_index`. Prefix with `-` for descending. See [all Institution fields](/api-reference/institutions#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `country_code`, `type`, `continent`, `is_global_south` See [all Institution fields](/api-reference/institutions#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/institutions/{id}": {
      "get": {
        "operationId": "getInstitution",
        "summary": "Get a single institution",
        "description": "Retrieve a single institution by OpenAlex ID or ROR.",
        "tags": [
          "Institutions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., I27837315) or ROR",
            "schema": {
              "type": "string"
            },
            "examples": {
              "openalex": {
                "value": "I27837315",
                "summary": "OpenAlex ID"
              },
              "ror": {
                "value": "https://ror.org/0161xgx34",
                "summary": "ROR URL"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Institution"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/topics": {
      "get": {
        "operationId": "listTopics",
        "summary": "List topics",
        "description": "Get a list of topics with optional filtering, searching, sorting, and pagination. Topics are research areas automatically assigned to works.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter topics. Examples: `domain.id:1`, `field.id:17`, `subfield.id:1702`, `works_count:>1000` See [all Topic fields](/api-reference/topics#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all Topic fields](/api-reference/topics#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `domain.id`, `field.id`, `subfield.id` See [all Topic fields](/api-reference/topics#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/topics/{id}": {
      "get": {
        "operationId": "getTopic",
        "summary": "Get a single topic",
        "description": "Retrieve a single topic by OpenAlex ID.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., T12419)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/keywords": {
      "get": {
        "operationId": "listKeywords",
        "summary": "List keywords",
        "description": "Get a list of keywords with optional filtering, searching, sorting, and pagination.",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter keywords. Examples: `works_count:>100`, `cited_by_count:>1000` See [all Keyword fields](/api-reference/keywords#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all Keyword fields](/api-reference/keywords#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group results by a field and return counts. Available fields vary by entity type. See [all Keyword fields](/api-reference/keywords#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/keywords/{id}": {
      "get": {
        "operationId": "getKeyword",
        "summary": "Get a single keyword",
        "description": "Retrieve a single keyword by OpenAlex ID.",
        "tags": [
          "Keywords"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., K12345)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keyword"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/publishers": {
      "get": {
        "operationId": "listPublishers",
        "summary": "List publishers",
        "description": "Get a list of publishers with optional filtering, searching, sorting, and pagination.",
        "tags": [
          "Publishers"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter publishers. Examples: `country_codes:US`, `hierarchy_level:0`, `lineage:P4310319965` See [all Publisher fields](/api-reference/publishers#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`, `summary_stats.h_index`. Prefix with `-` for descending. See [all Publisher fields](/api-reference/publishers#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `country_codes`, `hierarchy_level` See [all Publisher fields](/api-reference/publishers#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishersListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/publishers/{id}": {
      "get": {
        "operationId": "getPublisher",
        "summary": "Get a single publisher",
        "description": "Retrieve a single publisher by OpenAlex ID.",
        "tags": [
          "Publishers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., P4310319965)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Publisher"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/funders": {
      "get": {
        "operationId": "listFunders",
        "summary": "List funders",
        "description": "Get a list of funders with optional filtering, searching, sorting, and pagination.",
        "tags": [
          "Funders"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter funders. Examples: `country_code:US`, `is_global_south:true`, `continent:Q46` See [all Funder fields](/api-reference/funders#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`, `awards_count`. Prefix with `-` for descending. See [all Funder fields](/api-reference/funders#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `country_code`, `continent`, `is_global_south` See [all Funder fields](/api-reference/funders#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundersListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/funders/{id}": {
      "get": {
        "operationId": "getFunder",
        "summary": "Get a single funder",
        "description": "Retrieve a single funder by OpenAlex ID or Crossref Funder ID.",
        "tags": [
          "Funders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., F4320306076) or Crossref Funder ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funder"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/autocomplete/{entity_type}": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Autocomplete search",
        "description": "Fast typeahead search returning up to 10 results. Use for search-as-you-type interfaces.",
        "tags": [
          "Autocomplete"
        ],
        "parameters": [
          {
            "name": "entity_type",
            "in": "path",
            "required": true,
            "description": "Type of entity to search",
            "schema": {
              "type": "string",
              "enum": [
                "works",
                "authors",
                "sources",
                "institutions",
                "topics",
                "keywords",
                "publishers",
                "funders"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutocompleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/text/topics": {
      "get": {
        "operationId": "classifyText",
        "summary": "Classify text (Aboutness)",
        "description": "**DEPRECATED:** This endpoint is deprecated and not recommended for new projects. It will not receive updates or support.\n\nClassify arbitrary text to find relevant OpenAlex topics. Costs 1,000 credits per request.",
        "deprecated": true,
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "Title text to classify",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abstract",
            "in": "query",
            "description": "Abstract text to classify",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextClassificationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/rate-limit": {
      "get": {
        "operationId": "getRateLimit",
        "summary": "Check rate limit status",
        "description": "Check your current rate limit status including credits used and remaining.",
        "tags": [
          "Rate Limits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "operationId": "listDomains",
        "summary": "List domains",
        "description": "Get a list of domains (top-level topic categories). There are only 4 domains: Life Sciences, Social Sciences, Physical Sciences, and Health Sciences.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter domains. Examples: `id:1`, `works_count:>10000000` See [all Domain fields](/api-reference/domains#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all Domain fields](/api-reference/domains#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group results by a field and return counts. Available fields vary by entity type. See [all Domain fields](/api-reference/domains#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "operationId": "getDomain",
        "summary": "Get a single domain",
        "description": "Retrieve a single domain by its ID (1-4).",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Domain ID (1-4)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "lifesciences": {
                "value": "1",
                "summary": "Life Sciences"
              },
              "socialsciences": {
                "value": "2",
                "summary": "Social Sciences"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/fields": {
      "get": {
        "operationId": "listFields",
        "summary": "List fields",
        "description": "Get a list of fields (second-level topic categories). There are 26 fields spread across 4 domains.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter fields. Examples: `domain.id:1`, `works_count:>1000000` See [all Field fields](/api-reference/fields#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all Field fields](/api-reference/fields#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `domain.id` See [all Field fields](/api-reference/fields#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/fields/{id}": {
      "get": {
        "operationId": "getField",
        "summary": "Get a single field",
        "description": "Retrieve a single field by its ID.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Field ID (e.g., 27 for Medicine)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "medicine": {
                "value": "27",
                "summary": "Medicine"
              },
              "computerscience": {
                "value": "17",
                "summary": "Computer Science"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/subfields": {
      "get": {
        "operationId": "listSubfields",
        "summary": "List subfields",
        "description": "Get a list of subfields (third-level topic categories). There are 254 subfields spread across 26 fields.",
        "tags": [
          "Subfields"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter subfields. Examples: `field.id:17`, `domain.id:3`, `works_count:>100000` See [all Subfield fields](/api-reference/subfields#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all Subfield fields](/api-reference/subfields#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `field.id`, `domain.id` See [all Subfield fields](/api-reference/subfields#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubfieldsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/subfields/{id}": {
      "get": {
        "operationId": "getSubfield",
        "summary": "Get a single subfield",
        "description": "Retrieve a single subfield by its ID.",
        "tags": [
          "Subfields"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subfield ID (e.g., 1702 for Artificial Intelligence)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "ai": {
                "value": "1702",
                "summary": "Artificial Intelligence"
              },
              "cardiology": {
                "value": "2705",
                "summary": "Cardiology and Cardiovascular Medicine"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subfield"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/sdgs": {
      "get": {
        "operationId": "listSdgs",
        "summary": "List SDGs",
        "description": "Get a list of UN Sustainable Development Goals. There are 17 SDGs.",
        "tags": [
          "SDGs"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter SDGs. Examples: `id:3` (Good Health), `works_count:>100000` See [all SDG fields](/api-reference/sdgs#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all SDG fields](/api-reference/sdgs#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group results by a field and return counts. Available fields vary by entity type. See [all SDG fields](/api-reference/sdgs#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SdgsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/sdgs/{id}": {
      "get": {
        "operationId": "getSdg",
        "summary": "Get a single SDG",
        "description": "Retrieve a single Sustainable Development Goal by its ID (1-17).",
        "tags": [
          "SDGs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "SDG ID (1-17)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "health": {
                "value": "3",
                "summary": "Good Health and Well-being"
              },
              "climate": {
                "value": "13",
                "summary": "Climate Action"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sdg"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "listCountries",
        "summary": "List countries",
        "description": "Get a list of countries. Useful for filtering works by author affiliation country.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter countries. Examples: `id:US`, `works_count:>1000000` See [all Country fields](/api-reference/countries#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all Country fields](/api-reference/countries#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group results by a field and return counts. Available fields vary by entity type. See [all Country fields](/api-reference/countries#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/countries/{id}": {
      "get": {
        "operationId": "getCountry",
        "summary": "Get a single country",
        "description": "Retrieve a single country by its ISO 3166-1 alpha-2 code.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ISO 3166-1 alpha-2 country code (e.g., US, GB, CN)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "us": {
                "value": "US",
                "summary": "United States"
              },
              "cn": {
                "value": "CN",
                "summary": "China"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/continents": {
      "get": {
        "operationId": "listContinents",
        "summary": "List continents",
        "description": "Get a list of continents (7 total).",
        "tags": [
          "Continents"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter continents. Examples: `id:Q46` (Europe), `works_count:>10000000` See [all Continent fields](/api-reference/continents#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all Continent fields](/api-reference/continents#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group results by a field and return counts. Available fields vary by entity type. See [all Continent fields](/api-reference/continents#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinentsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/continents/{id}": {
      "get": {
        "operationId": "getContinent",
        "summary": "Get a single continent",
        "description": "Retrieve a single continent by its Wikidata Q-ID.",
        "tags": [
          "Continents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Wikidata Q-ID (e.g., Q49 for North America)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "northamerica": {
                "value": "Q49",
                "summary": "North America"
              },
              "europe": {
                "value": "Q46",
                "summary": "Europe"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Continent"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List languages",
        "description": "Get a list of languages used in scholarly works.",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter languages. Examples: `id:en` (English), `works_count:>100000` See [all Language fields](/api-reference/languages#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending. See [all Language fields](/api-reference/languages#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group results by a field and return counts. Available fields vary by entity type. See [all Language fields](/api-reference/languages#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguagesListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/languages/{id}": {
      "get": {
        "operationId": "getLanguage",
        "summary": "Get a single language",
        "description": "Retrieve a single language by its ISO 639-1 code.",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ISO 639-1 language code (e.g., en, zh, es)",
            "schema": {
              "type": "string"
            },
            "examples": {
              "english": {
                "value": "en",
                "summary": "English"
              },
              "chinese": {
                "value": "zh",
                "summary": "Chinese"
              }
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/awards": {
      "get": {
        "operationId": "listAwards",
        "summary": "List awards",
        "description": "Get a list of research grants and funding awards.",
        "tags": [
          "Awards"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter awards. Examples: `funder.id:F4320306076`, `start_year:2023`, `funded_outputs_count:>10` See [all Award fields](/api-reference/awards#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `funded_outputs_count`, `amount`, `start_year`. Prefix with `-` for descending. See [all Award fields](/api-reference/awards#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `funder.id`, `start_year`, `currency` See [all Award fields](/api-reference/awards#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwardsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/awards/{id}": {
      "get": {
        "operationId": "getAward",
        "summary": "Get a single award",
        "description": "Retrieve a single award by its OpenAlex ID.",
        "tags": [
          "Awards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., G5859020988)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwardFull"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/concepts": {
      "get": {
        "operationId": "listConcepts",
        "summary": "List concepts (deprecated)",
        "description": "**DEPRECATED:** Use Topics instead. Get a list of concepts from the legacy taxonomy.",
        "deprecated": true,
        "tags": [
          "Concepts"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter concepts. Examples: `level:0` (top-level), `ancestors.id:C41008148`, `wikidata_id:Q21198` See [all Concept fields](/api-reference/concepts#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`, `level`. Prefix with `-` for descending. See [all Concept fields](/api-reference/concepts#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group by: `level` See [all Concept fields](/api-reference/concepts#available-filter-sort-and-group_by-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/concepts/{id}": {
      "get": {
        "operationId": "getConcept",
        "summary": "Get a single concept (deprecated)",
        "description": "**DEPRECATED:** Use Topics instead. Retrieve a single concept by OpenAlex ID.",
        "deprecated": true,
        "tags": [
          "Concepts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "OpenAlex ID (e.g., C41008148 for Computer Science)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Concept"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/work-types": {
      "get": {
        "operationId": "listWorkTypes",
        "summary": "List work types",
        "description": "Get a list of work types (article, book, dataset, etc.).",
        "tags": [
          "Work Types"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter work types. Examples: `id:article`, `works_count:>1000000`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/group_by"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkTypesListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/source-types": {
      "get": {
        "operationId": "listSourceTypes",
        "summary": "List source types",
        "description": "Get a list of source types (journal, repository, conference, etc.).",
        "tags": [
          "Source Types"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter source types. Examples: `id:journal`, `works_count:>100000`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/group_by"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceTypesListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/institution-types": {
      "get": {
        "operationId": "listInstitutionTypes",
        "summary": "List institution types",
        "description": "Get a list of institution types (education, healthcare, company, etc.).",
        "tags": [
          "Institution Types"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter institution types. Examples: `id:education`, `works_count:>1000000`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/group_by"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionTypesListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/licenses": {
      "get": {
        "operationId": "listLicenses",
        "summary": "List licenses",
        "description": "Get a list of open access licenses (CC BY, CC BY-SA, etc.).",
        "tags": [
          "Licenses"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter licenses. Examples: `id:cc-by`, `works_count:>100000`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by: `works_count`, `cited_by_count`. Prefix with `-` for descending.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/sample"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/group_by"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicensesListResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Your OpenAlex API key. Get a free key at https://openalex.org/settings/api"
      }
    },
    "parameters": {
      "filter": {
        "name": "filter",
        "in": "query",
        "description": "Filter results using field:value syntax. Multiple filters can be combined with commas (AND) or pipes (OR). Available fields vary by entity type.",
        "schema": {
          "type": "string"
        }
      },
      "search": {
        "name": "search",
        "in": "query",
        "description": "Full-text search across titles, abstracts, and other text fields. Example: `search=machine learning`",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "description": "Sort results by a field. Prefix with `-` for descending order. Available fields vary by entity type.",
        "schema": {
          "type": "string"
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "description": "Number of results per page (1-200, default 25)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 25
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination. Use cursor for deep pagination beyond 10,000 results.",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Cursor for deep pagination. Use `cursor=*` to start, then use the `next_cursor` from the response.",
        "schema": {
          "type": "string"
        }
      },
      "sample": {
        "name": "sample",
        "in": "query",
        "description": "Return a random sample of N results (max 10,000). Cannot be used with sort or page.",
        "schema": {
          "type": "integer",
          "maximum": 10000
        }
      },
      "select": {
        "name": "select",
        "in": "query",
        "description": "Comma-separated list of fields to return. Reduces response size. Example: `select=id,display_name,cited_by_count`",
        "schema": {
          "type": "string"
        }
      },
      "group_by": {
        "name": "group_by",
        "in": "query",
        "description": "Group results by a field and return counts. Available fields vary by entity type.",
        "schema": {
          "type": "string"
        }
      },
      "api_key": {
        "name": "api_key",
        "in": "query",
        "description": "Your OpenAlex API key (required). Get a free key at https://openalex.org/settings/api",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - invalid ID format",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Entity not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      },
      "Meta": {
        "type": "object",
        "description": "Metadata about the query results",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of results matching the query"
          },
          "db_response_time_ms": {
            "type": "integer",
            "description": "Database response time in milliseconds"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "per_page": {
            "type": "integer",
            "description": "Number of results per page"
          },
          "next_cursor": {
            "type": "string",
            "description": "Cursor for the next page (when using cursor pagination)"
          },
          "groups_count": {
            "type": "integer",
            "nullable": true,
            "description": "Number of groups when using group_by"
          }
        }
      },
      "GroupByResult": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The group key value"
          },
          "key_display_name": {
            "type": "string",
            "description": "Human-readable name for the key"
          },
          "count": {
            "type": "integer",
            "description": "Number of results in this group"
          }
        }
      },
      "Work": {
        "type": "object",
        "description": "A scholarly document (article, book, dataset, thesis, etc.)",
        "properties": {
          "id": {
            "type": "string",
            "description": "OpenAlex ID for this work",
            "example": "https://openalex.org/W2741809807"
          },
          "doi": {
            "type": "string",
            "nullable": true,
            "description": "DOI for this work",
            "example": "https://doi.org/10.7717/peerj.4375"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Title of the work"
          },
          "display_name": {
            "type": "string",
            "description": "Same as title"
          },
          "publication_year": {
            "type": "integer",
            "nullable": true,
            "description": "Year published"
          },
          "publication_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date published (ISO 8601)"
          },
          "type": {
            "type": "string",
            "description": "The [work type](/api-reference/work-types) (article, book, dataset, etc.)"
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "[Language](/api-reference/languages) in ISO 639-1 format"
          },
          "cited_by_count": {
            "type": "integer",
            "description": "Number of citations to this work"
          },
          "is_retracted": {
            "type": "boolean",
            "description": "Whether this work has been retracted"
          },
          "is_paratext": {
            "type": "boolean",
            "description": "Whether this is paratext (front matter, etc.)"
          },
          "primary_location": {
            "$ref": "#/components/schemas/Location"
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "best_oa_location": {
            "$ref": "#/components/schemas/Location"
          },
          "open_access": {
            "$ref": "#/components/schemas/OpenAccess"
          },
          "authorships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Authorship"
            },
            "description": "List of authors and their affiliations (limited to first 100)"
          },
          "ids": {
            "type": "object",
            "description": "External identifiers",
            "properties": {
              "openalex": {
                "type": "string"
              },
              "doi": {
                "type": "string"
              },
              "mag": {
                "type": "integer"
              },
              "pmid": {
                "type": "string"
              },
              "pmcid": {
                "type": "string"
              }
            }
          },
          "biblio": {
            "type": "object",
            "description": "Bibliographic information",
            "properties": {
              "volume": {
                "type": "string",
                "nullable": true
              },
              "issue": {
                "type": "string",
                "nullable": true
              },
              "first_page": {
                "type": "string",
                "nullable": true
              },
              "last_page": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "abstract_inverted_index": {
            "type": "object",
            "nullable": true,
            "description": "Abstract as inverted index (word positions)"
          },
          "referenced_works": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "OpenAlex IDs of works cited by this work"
          },
          "referenced_works_count": {
            "type": "integer",
            "description": "Number of references"
          },
          "related_works": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "OpenAlex IDs of related works"
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkTopic"
            },
            "description": "Top topics for this work (up to 3)"
          },
          "primary_topic": {
            "$ref": "#/components/schemas/WorkTopic"
          },
          "keywords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkKeyword"
            }
          },
          "funders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DehydratedFunder"
            },
            "description": "[Dehydrated funders](/api-reference/funders)"
          },
          "awards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Award"
            }
          },
          "fwci": {
            "type": "number",
            "nullable": true,
            "description": "Field-Weighted Citation Impact"
          },
          "citation_normalized_percentile": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number"
              },
              "is_in_top_1_percent": {
                "type": "boolean"
              },
              "is_in_top_10_percent": {
                "type": "boolean"
              }
            }
          },
          "cited_by_percentile_year": {
            "type": "object",
            "nullable": true,
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              }
            }
          },
          "counts_by_year": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "year": {
                  "type": "integer"
                },
                "cited_by_count": {
                  "type": "integer"
                }
              }
            }
          },
          "sustainable_development_goals": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "display_name": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                }
              }
            }
          },
          "mesh": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "descriptor_ui": {
                  "type": "string"
                },
                "descriptor_name": {
                  "type": "string"
                },
                "qualifier_ui": {
                  "type": "string"
                },
                "qualifier_name": {
                  "type": "string"
                },
                "is_major_topic": {
                  "type": "boolean"
                }
              }
            }
          },
          "indexed_in": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Sources this work is indexed in (crossref, pubmed, doaj, arxiv)"
          },
          "has_content": {
            "type": "object",
            "nullable": true,
            "properties": {
              "pdf": {
                "type": "boolean"
              },
              "grobid_xml": {
                "type": "boolean"
              }
            }
          },
          "content_url": {
            "type": "string",
            "nullable": true,
            "description": "URL for downloading full-text content"
          },
          "created_date": {
            "type": "string",
            "format": "date",
            "description": "When this record was created in OpenAlex"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "description": "When this record was last updated"
          }
        }
      },
      "Location": {
        "type": "object",
        "description": "Where a work is hosted",
        "properties": {
          "is_oa": {
            "type": "boolean",
            "description": "Whether this location provides open access"
          },
          "landing_page_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to the landing page"
          },
          "pdf_url": {
            "type": "string",
            "nullable": true,
            "description": "Direct URL to PDF"
          },
          "source": {
            "$ref": "#/components/schemas/DehydratedSource",
            "description": "[Dehydrated source](/api-reference/sources#the-dehydratedsource-object)"
          },
          "license": {
            "type": "string",
            "nullable": true,
            "description": "The [license](/api-reference/licenses) (e.g., cc-by)"
          },
          "license_id": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string",
            "nullable": true,
            "enum": [
              "publishedVersion",
              "acceptedVersion",
              "submittedVersion"
            ],
            "description": "Version of the work at this location"
          },
          "is_accepted": {
            "type": "boolean"
          },
          "is_published": {
            "type": "boolean"
          }
        }
      },
      "OpenAccess": {
        "type": "object",
        "description": "Open access information",
        "properties": {
          "is_oa": {
            "type": "boolean",
            "description": "Whether this work is open access"
          },
          "oa_status": {
            "type": "string",
            "enum": [
              "diamond",
              "gold",
              "hybrid",
              "bronze",
              "green",
              "closed"
            ],
            "description": "Open access status"
          },
          "oa_url": {
            "type": "string",
            "nullable": true,
            "description": "Best open access URL"
          },
          "any_repository_has_fulltext": {
            "type": "boolean",
            "description": "Whether any repository has the full text"
          }
        }
      },
      "Authorship": {
        "type": "object",
        "description": "Author and their affiliation for a work",
        "properties": {
          "author_position": {
            "type": "string",
            "enum": [
              "first",
              "middle",
              "last"
            ],
            "description": "Position in author list"
          },
          "author": {
            "$ref": "#/components/schemas/DehydratedAuthor",
            "description": "[Dehydrated author](/api-reference/authors#the-dehydratedauthor-object)"
          },
          "institutions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DehydratedInstitution"
            },
            "description": "[Dehydrated institutions](/api-reference/institutions#the-dehydratedinstitution-object)"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Country codes of affiliations"
          },
          "is_corresponding": {
            "type": "boolean",
            "description": "Whether this is the corresponding author"
          },
          "raw_author_name": {
            "type": "string",
            "description": "Author name as it appears in the work"
          },
          "raw_affiliation_strings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WorkTopic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "subfield": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              }
            },
            "description": "The parent [subfield](/api-reference/subfields)"
          },
          "field": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              }
            },
            "description": "The parent [field](/api-reference/fields)"
          },
          "domain": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              }
            },
            "description": "The parent [domain](/api-reference/domains)"
          }
        }
      },
      "WorkKeyword": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "score": {
            "type": "number"
          }
        }
      },
      "Award": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "funder_award_id": {
            "type": "string"
          },
          "funder_id": {
            "type": "string"
          },
          "funder_display_name": {
            "type": "string"
          },
          "doi": {
            "type": "string",
[...]
